/* CSS BY RYAN MCHENRY */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
    --padding-x: 12px;
    --padding-content-x: 24px;
}

/* GLOBAL STYLES */
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Inter', sans-serif;
    max-width: 450px;
}

h1, h2 {
    font-family: 'Kavoon', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

nav h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

/* SECTION PADDING */
.hero,
.nav-menu h3,
.our-services > h2,
.service-group > h3 {
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
}

.nav-menu a,
.card {
    margin-left: var(--padding-content-x);
    margin-right: var(--padding-content-x);
}

/* HEADER */
.hero {
    background-color: var(--purple);
    text-align: center;
    color: var(--white);
    padding-top: 32px;
    padding-bottom: 32px;
}

.hero h1 {
    margin-bottom: 12px;
}

.hero p {
    font-style: italic;
	line-height: 1.5;
}

/* NAV MENU */
.nav-menu {
    background-color: var(--yellow);
    padding-top: 16px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-menu h3 {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
    color: var(--dark-gray);
}

.nav-menu a {
    display: block;
    background-color: var(--white);
    color: var(--purple);
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    padding: 16px;
    border: 1px solid var(--white);
    text-decoration: none;
}

/* OUR SERVICES */
.our-services {
    background-color: var(--purple);
    padding-top: 24px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.our-services > h2 {
    color: var(--white);
    margin-bottom: 8px;
}

.service-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.service-group + .service-group {
    margin-top: 16px;
}

.service-group > h3 {
    color: var(--yellow);
    font-weight: bold;
}

.card {
    background-color: var(--white);
    border-radius: 12px;
    overflow: hidden;
    font-weight: bold;
}

.card img {
    display: block;
    margin: 20px 0 0 20px;
}

.card h4 {
    color: var(--purple);
    font-weight: 800;
    padding: 20px 20px 8px;
}

.card p {
    padding: 0 20px 20px;
    font-weight: 500;
    line-height: 1.5;
}
